{
"IsSessionAuthor": false,
"CookiesTimer": 0,
"ManageAuthorKey": "669940210D2AEF035F590B9D956D2CEC",
"MemberAuthorKey": "222F701DD30519BDA6D2A4490E1F424C",
"UploadFilePath": "~/attached/",
"IPDatabasePath": "~/bin/ipdatabase.config",
"Namespace": "D__C__.A__",
"DllName": "D__C__.A__",
"TablePrefix": "",
"ConnectionString": "",
"EntityDll": "Model.dll",
"ControllerRefs": "~/bin/Bored.Manager.Controllers.dll",
"SmsUser": null,
"SmsPassword": null,
"EmailHost": "654858548@qq.com",
"EmailUser": "654858548@qq.com",
"EmailPassword": "13558761283di",
"EmailPort": 25,
"MasterEmail": "654858548@qq.com",
"ManageViewPath": "Manager",
"DialogViewPath": "Dialog",
"NormalViewPath": "Normal",
"MemberViewPath": "Member",
"ThemesPath": "~/Themes",
"CurrentTheme": "Default",
"ControlPath": "Controls"
}