@using Bored.Manager.Core
@using PageHelper
@{
    Layout = "~/Views/Shared/Main_LayoutPage.cshtml";
    var pageModel = PageStruct.InitList("roles", Url.Action("RolesEdit", "Roles"), Url.Action("Roles_List", "Roles"), "");
}

<div class="header">
    <span>
        <span class="ico gray window"></span>
        角色列表
    </span>
</div>
<div class="clear"></div>
<!--具体内容-->
<div class="content">
    <!--具体内容标题--->
    <div class="boxtitle">
        <span class="ico gray audio_knob"></span>
        角色列表
    </div>
    <div class="load_page">
        <ul class="uibutton-group">
            <li>
                @HtmlStringHelper.AddButton(pageModel.AddUrl)
            </li>
        </ul>
        <div class="tableName toolbar">
            <h3>角色列表</h3>
            @(
                 HtmlStringHelper.GridTable(pageModel.TableId, pageModel.ListAction)
                .SelectAllBtn("ID")
            .Column("RoleName", "用户名", 10)
        .Column("RoleLockTxt", "是否开启", 10)
        .Column("CreateDateTxt", "创建时间", 10)
        .EditColumn("ID",pageModel.ModifyUrl)
            )
        </div>
    </div>
</div>